/*top*/
div.top{
width:100%;
height:65px;
position:fixed;/*保持位置*/
z-index: 100;
top:0;
left:0;
backdrop-filter: blur(3px);
box-shadow:0px 0px 15px #bebebe;
}

.letop{
float:left;
width:66%;
height:100%;
}

.rtop{
float:right;
width:33%;
height:100%;
border-radius: 133px;
background: #fff9fe;
}

.itop{
float:left;
height:100%;
width:7.58%;
top:0;
}

.htop{
color:#BA93C2;
float: left;
font-family: Source Hans Heavy;
}

.ltop{
top:0;
margin:0px 10px 0px 0px;
}

.utop{
list-style: none;
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(18, 20, 28, 0.7);
    position: relative;
    top:30%;
    margin:0;
}

.urift{
  list-style: none;
  display: -webkit-box;
      display: block;
      justify-content: center;;
      align-items: center;
      color: rgba(18, 20, 28, 0.7);
      position: relative;
      top:30%;
      margin:0;
  }

.lrift{
  top:0;
  margin:0px 10px 0px 0px;
  background:#fff9fe;
  text-align:center;
  font-family: Source Hans;
}

.lrift:hover{
  top:0;
  margin:0px 10px 0px 0px;
  background: grey;
  text-align:center;
}

.sptop{
display:block;
height:65px;
width:100%;
}

.spbig{
  display:block;
  height:300px;
  width:100%;
  }

/*top*/

@font-face {
  font-family: Source Hans;
  src: url(../fonts/SourceHanSans-Regular.otf);
}

@font-face {
  font-family: Source Hans Heavy;
  src: url(../fonts/SourceHanSans-Heavy.otf);
}

.frontpage{
display:block;
width:100%;
height:auto;
}

.lefront{
float:left ;
width:70%;
height:100%;
}

.rifront{
float: left;
width:30%;
height:100%;
}

.ar{
width:auto;
border-radius: 50px;
background: linear-gradient(145deg, #ffffff, #f1f0f0);
box-shadow:  5px 5px 5px #d5d5d5,
             -5px -5px 5px #ffffff;

}

.atw{
  width: auto;
}
/**/
img {
  display: block;
  margin: 0 auto;
}

a:link {
  color:#BA93C2;
  text-decoration: none;
  font-family: Source Hans;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline wavy #BA93C2;
}

h1{
 text-align:center;
 font-family: Source Hans Heavy;
}

h2{
  font-family: Source Hans Heavy;
}
p:hover{
  font-size:17px;
  color: #e48f8f;
}

li.b:hover{
  font-size:17px;
  font-family: Source Hans;
}

p{
font-size:16px;
transition: ease 1s;
font-family: Source Hans;
}

l{
font-size:16px;
font-family: Source Hans;
}

.mid{
text-align:center;
font-family: Source Hans Heavy;
}

.dg{
color:darkgrey;
background:black;
}

.il{
  display:inline-block;
}
  
.po{
  color: #ffffff;
  border-radius: 10px;
    background: linear-gradient(145deg, #c08864, #cabb8a);
    box-shadow:  3px 3px 5px #616161,
    
}

::selection{
	background:#F5F5F5;
	color: #BA93C2;
}


.Wi{
  text-align: left;
	color: #ffffff;
  font-family: Source Hans Heavy;
}

.Relate{
 background:grey;
 text-align:center;
	color:#ffffff;
 
}

.TransSelect{
  width:20%;
  float:left;
  min-height: 470px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.TransIn .wrapper:hover .data {
  transform: translateY(0);
}
.TransIn .data {
  position: absolute;
  bottom: 0;
  width: auto;
  transform: translateY(90px);
  transition: 0.3s;
}
.TransIn .data .content {
  padding: 10px;
  position: relative;
  z-index: 1;
}

.content {
  background-color: #d0d0d0d9;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.4);
}

.vid{
  width:60%;height: 470px;
  float: left;
  min-height: 470px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dict{
  float: left;
  width: 70%;
  height: 300px;
  background: url(../images/oldbooks.jpg);
  color: #ffffff;
}

.math{
  float: left;
  width: 30%;
  height: 300px;
  background: url(../images/eboard.jpg);
  color: #ffffff;
}