img {
  display: block;
  margin: 0 auto;
}

a:link {
  color:#BA93C2;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline wavy #BA93C2;
}

p:hover{
  font-size:17px;
  color: #e48f8f;
}

p{
  font-size:16px;
  transition: ease 1s;
  }

h3{
margin:0;
}

l{
font-size:16px;
}

.mid{
text-align:center;
display:block;
}

.dg{
color:darkgrey;
background:black;
}
/**/
/*top*/
div.top{
  width:100%;
  height:65px;
  position:fixed;/*保持位置*/
  top:0;
  left:0;
  backdrop-filter: blur(2px);
  float:left;
  box-shadow:0px 0px 15px #bebebe;
  }
  
  .letop{
  float:left;
  width:50%;
  height:100%;
  }
  
  .rtop{
  float:right;
  width:33%;
  height:100%;
  border-radius: 133px;
  background: #fff9fe;
  }
  
  .itop{
  float:left;
  height:100%;
  width:10%;
  top:0;
  }
  
  .htop{
  color:#BA93C2;
  }

.ltop{
top:0;
margin:0px 10px 0px 0px;
}

.utop{
list-style: none;
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(18, 20, 28, 0.7);
    position: relative;
    top:30%;
    margin:0;
}
/**/
::selection{
	background:#F5F5F5;
	color: #BA93C2;
}

.tag{
float:left;
height:20px;
width:auto;
border-radius: 50px;
background: linear-gradient(145deg, #c79dd0, #a784af);
box-shadow:  20px 20px 60px #9e7da5,
             -20px -20px 60px #d6a9df;
}

.tag-inl{
display:inline;
float:left;
height:20px;
width:auto;
border-radius: 50px;
background: linear-gradient(145deg, #c79dd0, #a784af);
box-shadow:  20px 20px 60px #9e7da5,
             -20px -20px 60px #d6a9df;
}

.cip{
width:277.082px;
height:auto;
}

.ct-mp{
display:none;
}

.pv-mp,.pv-mp:hover + .ct-mp,.ct-mp:hover{
border-radius: 45px;
background: linear-gradient(145deg, #ffffff, #dde6e6);
box-shadow:  5px 5px 10px #b3baba,
             -5px -5px 10px #ffffff;
float:left;
width:auto;
display:inline;
}

.ctp{
margin:0;
}

.sp3{
width:10%;
height:50px;
float:left;
}


div.sp{
width:6%;
height:320px;
float:left;
}

div.sp1{
width:3%;
height:320px;
float:left;
}

div.sp2{
width:17%;
height:360px;
float:left;
}


.t{
margin:0;
float:left;
}


.caf{
width:48%;
height:27%;
margin:0;
float:left;
}

.pv-af{

border-radius: 45px;
background: linear-gradient(145deg, #ffffff, #dde6e6);
box-shadow:  5px 5px 10px #b3baba,
             -5px -5px 10px #ffffff;
float:left;
width:60%;
display:block;
}

.ct-af{
float:left;
display:inline;
}

.ar,.vi,.vif,.vih,.fa,.vip{
border-radius: 45px;
background: linear-gradient(145deg, #ffffff, #dde6e6);
box-shadow:  5px 5px 10px #b3baba,
             -5px -5px 10px #ffffff;
}


div.vip{
display:inline;
width:58%;
}

div.vi{
width:26%;
height:320px;
float:left;
margin-left:auto;
margin-right:auto;
}

div.vif{
width:66%;
height:543px;
float:left;
margin-left:auto;
margin-right:auto;
}

div.vih{
width:100%;
height:380px;
float:left;
margin-left:auto;
margin-right:auto;
display:block;
}

li.b:hover{
  font-size:17px;
}
